# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_STREAM=skey1
REDIS_BATCH_SIZE=25

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=secret
MINIO_SECURE=false
MINIO_BUCKET=camera-videos

# Service
VIDEO_OUTPUT_DIR=output_videos
IDLE_TIMEOUT=4.0
